/* Css file */

.actionCard{
    background-color: white;
    position: sticky;
    top: 30%;
    left: 23%;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 2px 0px;
    min-height: 30%;
    min-width: 80%;
    scroll-behavior: auto;
    text-align: center;
    overflow-y: auto;
}
.cardACtion{
    min-height: 200px;
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
   }
   
   .cardACtionFilter{
       min-height: 130px;
       text-align: center;
   }
   
   .cardList {
       position:absolute;
       box-shadow: 0 0 20px rgba(153, 147, 144, 0.205);
       background-color: white;
       width: 200px;
       padding: 1px;
       text-align: center;
       z-index: 10;
   }

   .xButt {
        position: absolute;
        float: right;
        top: -0;
        right: 0px;
   }

   .spinnerCla {
    position: fixed;
   }    
   
   .onRow {
       cursor: pointer;
       margin-bottom: 1px;
   }
   
   .onRowBlue {
       background-color: #0176D3;
   }
   
   .title {
       text-align: center;
       font-size: 18px;
       margin-bottom: 20px;
       margin-top: 10px;
       font-weight: bold;
   }
   
   .card_filter {
       text-align: left;
       display:inline-block;
       margin-right: 10px;
   }
   
   .comboBox {
       display:inline-block;
       width: 200px;
       padding-left: 2px;
   }
   
   /* Table */
   .quotaTable { 
       display: inline-block; 
       overflow: auto; 
       width: 800px;  
       border-collapse: collapse;
       font-family: sans-serif;
       box-shadow: 0 0 20px rgba(224, 215, 211, 0.849);
       font-size: 1rem;
    }
   
    .quotaHd th{
       padding-right: 10px;
       width: 148px;
       text-align: center;
       position: sticky;
       top: 0;
       padding: 5px 0;
       background-color: #0176D3;
       color: white;
   }

   .qtablels {
    width: 100px;
    margin-left: 125px;
    text-align: center;
    }

   .qtablel {
        width: 100px;
        margin-left: 200px;
        text-align: center;
   }
   
   .qtabler {
        width: 100px;
        text-align: center;
    }

   .quotaBody tr:nth-child(even) { 
       background: rgba(245, 243, 243, 0.938); 
   }
   
   .quotaBody td{
       text-align: center;
       background-color: rgba(100, 102, 102, 0.35);
   }
   
   .compaerTable{
       min-height: 200px;
   }
   
   .titleStyle{
       font-size: 16px;
       color: red;
   }
   
   .secondTitleStyle {
       background-color: gray;
       color: white;
       text-align: left;
   }

   .secondTitleTotalStyle {
    background-color: rgb(63, 115, 173);
    color: white;
    text-align: left;
}
   
   .currentQuota{
       position: inherit;
       display: inline-block;
       box-shadow: 0 0 20px rgba(153, 147, 144, 0.205);
       background-color: white;
       width: 49%;
       text-align: left;
   }
   
   .newQuota{
       position: inherit;
       display: inline-block;
       box-shadow: 0 0 20px rgba(153, 147, 144, 0.205);
       background-color: white;
       width: 49%;
       margin-left: 2px;
       text-align: left;
   }
   
   .newQuota ul li {
       text-align: left;
   }
   
   .inputNB{
       display: inline-block;
       width: 90px;
       border: 0;
       padding: 0;
       text-align: center;
       background-color: gainsboro;
       margin-bottom: 1px;
   }
   
   .inputTNB{
       display: inline-block;
       width: 90px;
       border: 0;
       padding: 0;
       text-align: center;
       margin-bottom: 1px;
       margin-left: 50px;
   }
   
   .inputE{
       display: inline-block;
       width: 85px;
       border: 0;
       padding: 0;
       text-align: center;
       background-color: white;
       margin-bottom: 1px;
   }

   .inputSNB{
    margin-left: 65px;
   }

   .inputSupsell{
    margin-left: 60px;
   }

   .inputSrenewal {
    margin-left: 15px;
   }

   .inputStargetR {
    margin-left: 27px;
   }

   .inputStotal {
    margin-left: 25px;
   }

   .inputDNB{
    margin-left: 70px;
   }

   .inputDupsell{
    margin-left: 70px;
   }

   .inputDtarget{
    margin-left: 70px;
   }

   .inputDtotal{
        margin-left: 150px;
    }

   
   .boldTitle {
       font-weight: bold;
       color: black;
   }
   
   .inputCommentTitle {
       border: 0;
       background-color: gainsboro;
       text-align: left;
       float: left;
       margin-left: 2px;
       margin-top: 10px;
       margin-bottom: 10px;
   }
   
   .requiredField{
       display: inline-block;
       color: red;
       float: left;
       margin-left: 4%;
       margin-top: 12px;
   }
   
   .inputComment {
       border: 0;
       background-color: gainsboro;
       text-align: left;
       float: left;
       margin-top: 10px;
       margin-bottom: 10px;
       width: 75%;
   }
   
   .spinerHolder{
       position: relative;
       display: inline-block;
       width: 80px;
       height: 80px;
   }

   .slds-modal {
        position: fixed;
        top: 300%;
        left: 12%;
        z-index: 1000;
        border-color: black;
   }

   .slds-modal__container {
    margin-left: 25%;
    height: auto;
    position: absolute;
    top: 30%;
    max-width: 50rem;
    min-width: 30rem;
    padding: 0;
    border: groove;
    z-index: 10001;
   }

   .slds-backdrop {
        position: absolute;
   }

   @media only screen and (max-width: 1520px ) {
    .actionCard{
        position: sticky;
        min-width: 100%;
        max-height: 500px;
    }
   }